h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica";
    color: #002a68
}
#hnav {
    background: #002a68;
/*    background: #00204E; */
/*     background: #A31F34;  */
        color:#FFFFFF;
	height: 30px;
	border-radius: 10px;
	margin:0px;
	padding:0px;	
    max-width: 48em;
    align-self: center;	 
      }
body {
    background-color: azure;
    margin:auto;
    font-family: 'Helvetica';
    max-width: 36em; 
    margin-top:2px; 
    margin-bottom:2px; 
}
#title {
    margin-top: 1.5cm;
}
ul{
    font-size:85%;
    margin-top: 0.25cm;
  }

a:link, a:visited {
    color: coral;
    text-decoration: none;
  }
a:hover {
    color: lightblue;
  }

hr {
    border-top: 3px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: black
  }